.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

.remove-all {
  color: #0b69ff;
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.summary {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.summary-container {
  width: 200px;
}
.summary-card-total-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.total-price-title {
  color: #616e7c;
  font-size: 18px;
}
.total-price {
  color: #000000;
  font-weight: bold;
  margin-left: 2px;
}
.total-items {
  color: #616e7c;
}

.checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  border: 0px;
  width: 100%;
  padding: 8px;
}
